<div class="card" *ngFor="let product of products">
    <figure class="card__avatar">
        <img class="card__image" src="{{product.image}}" alt="">
    </figure>
    <div class="card__content">
        <figcaption class="card__name">{{product.name}}</figcaption>
        <div class="card__price"><span class="card__dollar">&#36;</span>{{product.price.toFixed(2)}}</div>
        <div class="card__desc">{{product.description}}</div>
        <div class="rating">
          <div class="rating__wrapper">
            <div class="rating__container">
              <div class="rating__upper" [ngStyle]="{'width': getPercentage(product.stars)}">
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
              </div>
              <div class="rating__lower">
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
                <span class="rating__star">&#9733;</span>
              </div>
            </div>
            <div class="rating__text">
              {{product.stars.toFixed(1)}}
            </div>
          </div>
          <button class="btn btn--edit">Editar</button>
        </div>
    </div>
</div>