@import '../../../../shared/styles/styles.scss';


.form {
    @include flexCenter(column);
    width: 100%;
    .input__container {
        width: 100%;
        margin-bottom: 1.8rem;
    }
    &__label {
        font-size: 1.75rem;
    }
    &__input {
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid black;
        padding: 1rem;
        height: 4rem;
        margin-top: 1.2rem;
        font-size: 1.75rem;
        &--textarea {
            resize: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .btn {
        align-self: flex-end;
    }
}

@include lg-screen {
    .form {
        height: 532px;
        justify-content: space-between;
        padding-top: 21px;
    }
}