<article class="left">
  <form class="form" id="product-form" (ngSubmit)="submitProduct()">
    <div class="input__container">
      <label class="form__label" for="name">Nombre del producto:</label>
      <input class="form__input" type="text" name="name" placeholder="Por ej: Tiesto para planta"
        value="{{product.name}}" [(ngModel)]='product.name'>
    </div>
    <div class="input__container">
      <label class="form__label" for="price">Precio:</label>
      <input class="form__input" type="number" name="price" placeholder="Por ej: 9.50" value="{{product.price}}"
        [(ngModel)]='product.price'>
    </div>
    <div class="input__container">
      <label class="form__label" for="desc">Descripcion:</label>
      <textarea class="form__input form__input--textarea" type="text" name="desc" placeholder="Por ej: Lo más vendido este mes"
        value="{{product.description}}" [(ngModel)]='product.description'></textarea>
    </div>
    <div class="input__container">
      <label class="form__label" for="image">Imagen:</label>
      <input class="form__input" type="text" name="image" placeholder="Por ej: http://blabla.com/img.jpg"
        value="{{product.image}}" [(ngModel)]='product.image'>
    </div>
    <div class="input__container">
      <label class="form__label" for="stars">Opiniones:</label>
      <input class="form__input" type="number" step="0.1" name="stars" placeholder="Por ej: 4.28"
        value="{{product.stars}}"
        [(ngModel)]='product.stars'>
    </div>
    <button class="btn btn--primary">Guardar</button>
  </form>
</article>