$c-black: #13131d;
$c-white: white;
$c-gray20: #ccc;
$c-gray50: #787885;
$c-gray80: #5e6366;
$c-gray90: #444;
$c-gray100: #333;
$c-blue30: #9DC2FF;
$c-blue70: #2264d1;
$c-blue90: #00579f;
$c-orangeLight: #ffc970;
$c-orangeDark: #fb8200;