<footer class="footer">
  <div class="footer__card">
    <div class="footer__text">
      <p>
        Sígenos en:
      </p>
    </div>
    <div class="footer__links">
        <a class="footer__link" href="https://www.twitter.com" target="_blank">Twitter</a>
        <a class="footer__link" href="https://www.facebook.com" target="_blank">Facebook</a>
        <a class="footer__link" href="https://www.instagram.com" target="_blank">Instagram</a>
        <a class="footer__link" href="https://www.tiktok.com" target="_blank">TikTok</a>
    </div>
  </div>
  <div class="footer__copy">Copyright Shop&eacute;ame &copy; 2020</div>
</footer>