$sm-screen: 420px;
$md-screen: 576px;
$lg-screen: 768px;
$tb-screen: 992px;
$dp-screen: 1200px;

@mixin sm-screen () {
    @media screen and (min-width: $sm-screen) {
        @content;
    }
}
@mixin md-screen () {
    @media screen and (min-width: $md-screen) {
        @content;
    }
}
@mixin lg-screen () {
    @media screen and (min-width: $lg-screen) {
        @content;
    }
}
@mixin tb-screen () {
    @media screen and (min-width: $tb-screen) {
        @content;
    }
}
@mixin dp-screen () {
    @media screen and (min-width: $dp-screen) {
        @content;
    }
}